@import url('nord.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
}

body, html{
    background-color: var(--nord0);
    color: var(--nord4);
    font-family: 'Open Sans', sans-serif;
	height: 100%;
}

#header {
    height: 100%;
}

#header_cont {
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
    display: inline-block;
}

#header_cont * {
    display: block;
}

#header_cont #name {
    font-weight: bold;
    font-size: 50px;
    margin-bottom: -5px;
}

#header_cont #desc,
#header_cont #navigation a {
    font-size: 30px;
}

#header_cont li {
    display: inline-block;
    margin-right: 20px;
}

#header_cont a {
    color: var(--nord9);
    text-decoration: none;
}