@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --bg: #1d1f2b;
  --fg: #e7e7e7;
  --accent: #18acbd;
}

* {
  margin: 0;
  padding: 0;
}

body,
html {
  background-color: var(--bg);
  color: var(--fg);
  font-family: "Open Sans", sans-serif;
  height: 100%;
}

a {
  color: var(--accent);
  text-decoration: none;
}
