@import url('master.css');

#header {
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;

    transition: background-color 100ms linear;
}

#header_title {
    margin: 0 25px;
    display: inline-block;
    color: var(--fg);
    font-size: 20px;
}

.scrolled {
    background-color: var(--bg);
}

#navigation {
    list-style-type: none;
    margin: 0 25px;
    font-size: 20px;
}

#navigation li {
    display: inline-block;
}

#navigation a {
    color: var(--fg);
}

#navigation a:hover {
    color: var(--accent);
    cursor: pointer;
}

#landing {
    height: 100vh;
    width: 100%;
    min-height: 35rem;
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
}

#landing_cont {
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#landing_cont img {
    border-radius: 50%;
    height: 200px;
    margin-bottom: 20px;
}

#landing_cont span{
    display: block;
    font-size: 40px;
    text-align: center;
}

#landing_cont .name {
    font-size: 60px;
    font-weight: bold;
}

#landing_cont .desc {
    font-size: 20px;
}


#education {
    background-color: var(--bg);
}

#education, #projects, #about {
    padding: 20px;
}

#education .title, #projects .title, #about .title {
    font-size: 40px;
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
}

#education_cont, #projects_cont {
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.edu_item, .proj_item {
    margin-top: auto !important;
    margin-bottom: auto !important;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    width: 200px;
    color: var(--fg);
}

.edu_item img, .proj_item img{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.edu_item span, .proj_item span {
    display: block;
    font-size: 14px;
    text-align: center;
}

.edu_item .name, .proj_item .name{
    font-size: 20px;
    font-weight: bold;
}

#projects {
    background-color: var(--accent);
}

.scroll-down-arrow {
	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
	background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
}

.scroll-down-link {
    cursor:pointer;
	height: 60px;
	width: 80px;
	margin: 0px 0 0 -40px;
	line-height: 60px;
	position: absolute;
	left: 50%;
	bottom: 0px;
	z-index: 100;
	animation: fade_move_down 2s ease-in-out infinite;
}

.scroll-hide {
    display: none;
}

@keyframes fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,0); opacity: 0; }
}